	#div_principal {
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    height: 30dvh;
	    gap: 10%;
	}

	section {
	    background-color: yellow;
	    width: fit-content;
	}

	p {
	    font-size: 1.5dvh;
	}

	input {
	    border-radius: 1dvh;
	    width: 15dvh;
	    padding: 1dvh;
	    font-size: 2dvh;
	}

	button {
	    background-color: #10802c;
	    color: #fff;
	    border-color: #10802c;

	    border-radius: 1dvh;
	    padding: 1dvh;
	    font-size: 2dvh;
	    cursor: pointer;
	    border-width: 0.1dvh;
	}

	button:hover {
	    background: #fff;
	    color: #10802c;
	}